.template {
  min-width: 500px;
  min-height: 500px;
}

.template:nth-child(1) {
  background: black;
}

.template:nth-child(2) {
  background: red;
}

.template:nth-child(3) {
  background: green;
}

.template:nth-child(4) {
  background: blue;
}

.template:nth-child(5) {
  background: yellow;
}

.container {
  margin: 0 auto;
  width: 500px;
  overflow: hidden;
}

.swiper {
  display: flex;
}
